# Python
pipeline/.venv/
__pycache__/
*.pyc

# Node
node_modules/
web/build/
web/.svelte-kit/
web/dev-server*.log

# Data
data/raw/
data/processed/
data/tiles/
# web/static/tiles/*.pmtiles

# duckdb
.duckdb/
pipeline/.duckdb_freestiler_home/
pipeline/.matplotlib/
duckdb.exe

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/settings.json
